<a href="https://colab.research.google.com/github/subi2404/Internship-Data_Science/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

⏩**DataFrame** -structured representation of data

In [ ]:
import pandas as pd
d={'col1':[1,2,3,4],'col2':[5,6,7,8],'col3':[9,10,11,12]}
df=pd.DataFrame(data=d)  #DataFrame() function from pandas library
print(df)

   col1  col2  col3
0     1     5     9
1     2     6    10
2     3     7    11
3     4     8    12

In [ ]:
import pandas as pd
d={'col1':[1,2,3,4],'col2':[5,6,7,8],'col3':[9,10,11,12]}
df=pd.DataFrame(data=d)
count_column=df.shape[1]     #shape[no. of rows,no.of columns]
print("No. of columns:",count_column)

No. of columns: 3

In [ ]:
import pandas as pd
d={'col1':[1,2,3,4],'col2':[5,6,7,8],'col3':[9,10,11,12]}
df=pd.DataFrame(data=d)
cr=df.shape[0]
print("No. of rows:",cr)

No. of rows: 4

In [ ]:
import pandas as pd
d={'Name':['John','Eva','Erick'],'Age':[18,19,20],
   'Address':["No.3/4,abc plot,NYC","No.5/6,dfg plot,Germany","No.6/4,rty plot,NYC"]}
df=pd.DataFrame(data=d)
print(df)

    Name  Age                  Address
0   John   18      No.3/4,abc plot,NYC
1    Eva   19  No.5/6,dfg plot,Germany
2  Erick   20      No.6/4,rty plot,NYC

⏩**Min,Max,Mean Functions**

In [ ]:
marks=min(90,78,89,90,78,89)
print("Min:",marks)

Min: 78

In [ ]:
marks=max(90,78,89,90,78,89)
print("Max:",marks)

Max: 90

In [ ]:
import numpy as np
marks=[90,78,89,90,78,89]
Mean=np.mean(marks) #mean() function from numpy library
print("Mean:",Mean)

Mean: 85.66666666666667

⏩**Data Preparation**-extracting and cleaning the data before analyzing

✴Extracting data with read_csv() function

In [ ]:
import pandas as pd
healthData=pd.read_csv("SportsWatch_St.csv",header=0,sep=",") #importing/extracting the data using read_csv()
print(healthData)

   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  \
0        30             80        120              240          10
1        30             85        120              250          10
2        45             90        130              260           8
3        45             95        130              270           8
4        45            100        140              280           0
5        60            105        140              290           7
6        60            110        145              300           7
7        60            115        145              310           8
8        75            120        150              320           0
9        75            125        150              330           8

   Hours_Sleep
0            7
1            7
2            7
3            7
4            7
5            8
6            8
7            8
8            8
9            8

In [7]:
import pandas as pd
healthData=pd.read_csv("SportsWatch_St.csv",header=0,sep=",")
print(healthData.head())  #using head() function to show top 5 rows

   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  \
0        30             80        120              240          10
1        30             85        120              250          10
2        45             90        130              260           8
3        45             95        130              270           8
4        45            100        140              280           0

   Hours_Sleep
0            7
1            7
2            7
3            7
4            7

✴ Data cleaning using dropna() funtion

In [5]:
import pandas as pd
hd=pd.read_csv("SportsWatch_Unst.csv",header=0,sep=",")
hd.dropna(axis=0,inplace=True) #dropna() used to remove NaN values(data cleaning)
print(hd)

   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  \
0        30             80        120            240.0          10
1        30             85        120            250.0          10
3        45             89        130            270.0           7
4        45            100        140            280.0           0
5        60            105        140            290.0           7
6        60            110        135            300.0           7
9        75            125        150            330.0           8

   Hours_Sleep
0          7.0
1          7.0
3          7.0
4          7.0
5          8.0
6          8.0
9          8.0

✴**Data Categories**
*  Numerical-Discrete,Continuous
*  Categorical
*  Ordinal

info() - to list the data types in the
data set                                                     
astype() - to convert the data type

In [8]:
print(healthData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     int64
 1   Average_Pulse    10 non-null     int64
 2   Max_Pulse        10 non-null     int64
 3   Calorie_Burnage  10 non-null     int64
 4   Hours_Work       10 non-null     int64
 5   Hours_Sleep      10 non-null     int64
dtypes: int64(6)
memory usage: 608.0 bytes
None

✴**Analyzing the data**                          
describe()- to summarize the data                

---


count- the no. of observations                     
mean- the average value                         
std- standard deviation                        
min- the minimum value                          
25%,50%,75%- percentiles                     
max- the maximum value

In [9]:
print(healthData.describe())

        Duration  Average_Pulse   Max_Pulse  Calorie_Burnage  Hours_Work  \
count  10.000000      10.000000   10.000000        10.000000   10.000000
mean   52.500000     102.500000  137.000000       285.000000    6.600000
std    16.201852      15.138252   11.352924        30.276504    3.627059
min    30.000000      80.000000  120.000000       240.000000    0.000000
25%    45.000000      91.250000  130.000000       262.500000    7.000000
50%    52.500000     102.500000  140.000000       285.000000    8.000000
75%    60.000000     113.750000  145.000000       307.500000    8.000000
max    75.000000     125.000000  150.000000       330.000000   10.000000

       Hours_Sleep
count    10.000000
mean      7.500000
std       0.527046
min       7.000000
25%       7.000000
50%       7.500000
75%       8.000000
max       8.000000